body {
    background-image: url("images/pattern-background-desktop.svg");
    background-repeat: no-repeat;
    background-color: hsl(225, 100%, 94%);
    font-family: 'Red Hat Display';
}

#card {
    margin: auto;
    width: 23%;
    background-color: white;
    border-radius: 15px;
    height: 500px;
    margin-top: 65px;
    text-align: center;
}

#card img {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    height: 30%;
    width: 100%;
}

h2 {
    font-weight: 900;
}

#paragraph {
    font-size: 16px;
    font-weight: 500;
    opacity: 0.6;
}

#price {
    background-color: hsl(225, 100%, 98%);
    width: 80%;
    margin: auto;
    border-radius: 15px;
    display: flex;
    padding: 15px;
    text-align: center;
    margin-top: 20px;
}

#price2 {
    display: flex;
    flex-direction: column;
}

#plan {
    font-weight: 700;
}

#chn {
    margin-left: 50px;
    padding-top: 10px;
    font-size: 15px;
}

#chn:hover {
    text-decoration: none;
    opacity: 0.7;
}

#btn {
    margin-top: 25px;
    text-align: center;
    width: 90%;
    background-color: hsl(245, 75%, 52%);
    border: none;
    border-radius: 10px;
    height: 40px;
    color: white;
    box-shadow: 0px 15px 7px hsl(245, 75%, 52%, 0.1);
}

#btn:hover {
    opacity: 0.7;
}

#cancl {
    color: grey;
    font-weight: 900;
    font-size:  14px;
    margin-top: 25px;
    text-decoration: none;
    display: inline-block;
    width: auto;
}

#cancl:hover {
    color: black;
    opacity: 1;
}

#year {
    font-weight: 900;
    opacity: 0.6;
}

#price img {
    width: 40px;
    margin-right: 15px;
}

.attribution { 
    font-size: 11px; 
    text-align: center;
    margin-top: 20px;
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

@media only screen and (max-width: 375px) {
    body {
        background-image: url("images/pattern-background-mobile.svg");
        background-repeat: no-repeat;
        background-color: hsl(225, 100%, 94%);
    }

    #price {
        padding: 15px;
    }

    #plan {
        width: 100px;
    }

    #chn {
        margin-left: 30px;
    }

    #card {
        width: 80%;
    }

}